.header {
  background-color: #6e6e6e;
  margin: 40px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #a8a8a8;
  font-size: 10px;
}

h2 {
  text-align: center;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  text-align: center;
  color: #fff;
  font-size: 10px;
  padding-top: 10px;
}
